@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Syncopate:wght@400;700&display=swap");

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

/* estilos globais opcionais */
html, body {
  font-family: Inter, system-ui, sans-serif;
  background-color: black;
  color: white;
}
a {
  color: inherit;
  text-decoration: none;
}